@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.firstPage {
  text-align: center;
  background-image: url(../img/door.jfif);
  background-position: center;
  background-size: cover;
}

.secondPage {
  background-color: rgba(232, 197, 172, 0.85);
}

.thirdPage {
  background-color: rgba(232, 197, 172, 0.85);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 50;
}

.title {
  font-weight: 700;
  font-size: 72px;
  color: #444;
}

.para {
  font-weight: 700;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.menu .menu__item {
  text-align: end;
  margin-bottom: 24px;
}

.menu .menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  transition: color 0.3s;
}

.menu .menu__item.active .menu__link {
  color: #deac97;
}

.personal {
  padding-top: 20px;
  padding-left: 120px;
  padding-bottom: 56px;
  width: 100%;
  background-color: #faf9f5;
  position: absolute;
  top: 0;
  left: 0;
}

.information {
  display: flex;
  align-items: center;
}

.info {
  margin-right: auto;
}

.avatar {
  width: 180px;
  height: 254px;
  margin-right: 213px;
}

.info__name,
.info__detail,
.info__contact {
  display: flex;
  align-items: center;
}

.info__name-chinese {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-right: 18px;
  margin-bottom: 18px;
}

.info__name-english {
  font-weight: 700;
  font-size: 36px;
  color: #444;
  margin-bottom: 18px;
}

.info__edu {
  font-weight: 500;
  font-size: 24px;
  color: #111;
  margin: 0;
}

.info__detail > * {
  font-weight: 700;
  font-size: 24px;
  color: #535c68;
  margin-right: 18px;
}

.info__contact > * {
  font-weight: 700;
  font-size: 24px;
  color: #444;
  margin-right: 18px;
}

.info__contact i {
  margin-right: 6px;
}

.resume {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(2, 700px);
  position: relative;
  top: 240px;
  left: 52px;
}

.resume__edu {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.resume__skill {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.resume__add {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.resume__edu-title,
.resume__skill-title,
.resume__add-title {
  font-weight: 500;
  font-size: 26px;
  color: #222;
  margin-bottom: 40px;
}

.resume__edu-title span,
.resume__skill-title span,
.resume__add-title span {
  font-weight: 700;
  font-size: 24px;
  color: #444;
}

.resume__edu ul {
  list-style: none;
}

.resume__edu ul li::before {
  content: '\2022';
  color: #b5b5b5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  top: 4px;
  left: -5px;
}

.resume__edu ul::before {
  content: '';
  height: 340px;
  width: 1px;
  background-color: #b5b5b5;
  position: absolute;
  top: -10px;
  left: 21px;
}

.university__title,
.senior__title,
.junior__title,
.skill__card-title,
.add__card-title {
  font-weight: 700;
  font-size: 24px;
  color: #222;
}

.department {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.department span,
.add__card span {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  margin-left: 21px;
}

.skill__card p {
  font-weight: 500;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}

.skill__card-title,
.add__card-title {
  margin-left: 10px;
  margin-bottom:20px;
}

.bg {
  font-size: 288px;
  font-weight: 700;
  color: rgba(181, 181, 181, 0.15);
  position: absolute;
  bottom: 50px;
  left: 40px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide a {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.left-slide a:hover {
  color: #444;
  text-decoration: underline;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 500px;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
